@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.title {
  font-family: Poppins;
  padding-top: 50px;
  font-size: 4rem;
}

.subTitle {
  font-family: Poppins;
  font-size: 2rem;
}
